.App {
  margin: 0 auto;
  width: 95%;
  color: rgb(218, 214, 214);
}

.searchbar-container {
  margin: 0 auto;
  border-radius: 5px;
  padding: 12px;
  background-color: rgba(103, 89, 129, 0.979);
}

.videos-container {
  display: flex;
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(103, 89, 129, 0.979);
  border-radius: 5px;
}
